@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* globals.css */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  background: linear-gradient(45deg, #1e293b, #0f172a, #1e293b);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

@keyframes float {
  0% {
    transform: translate(-300px, -300px) rotate(360deg); /* Starting position */
  }
  25% {
    transform: translate(150px, -100px) rotate(12deg); /* Move left and up */
  }
  50% {
    transform: translate(200px, -250px) rotate(-12deg); /* Move right and slightly down */
  }
  75% {
    transform: translate(-300px, 200px) rotate(360deg); /* Move back left and slightly up */
  }
  100% {
    transform: translate(-300px, -300px) rotate(0deg); /* Return to original position */
  }
}

/* Apply the float animation */
.animate-float {
  animation: float 35s ease-in-out infinite; /* Adjusted duration for smoother effect */
}
